body{
    margin: 0;
    padding: 0;
    background-color: #232323;
}

.main-page{
    margin: 0;
    height: 90dvh;
    background-image: url(./Src/Background-img.jpg);
}

.main-page .overlay{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.text{
    color: white;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-40%, -40%);
    font-size: 1.7rem;
    font-weight: 900;
}

.text h1{
    text-align: center;
}

.text p{
    font-weight: 300;
    text-align: center;
    margin-top: 0;
}


.button{
    position: absolute;
    top: 60%;
    left: 55%;
    color: white;
    font-weight: 500;
    background-color: rgb(255, 22, 33);
    width: 250px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.button:hover{
    background-color: rgb(193, 17, 25);
    cursor: pointer;
}

#email{
    position: absolute;
    top: 60%;
    left: 30%;
    height: 58px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    border: white 1px solid;
    border-radius: 5px;
}

#email::placeholder{
    font-size: medium;
}

.ruling{
    margin: 0;
    background-color: #272829;
    height: 7px;
}
.second-page{
    background-color: black;
    color: white;
    height: 80dvh;
    width: auto;
}
.second-page-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.second-page-main img{
    width: 600px;
    height: auto;
}
.second-page-text h2{
    font-size: 2.5rem;
    font-weight: 900;
}
.second-page-text p{
    font-size: 2rem;
    font-weight: 500;
}
.third-page{
    background-color: black;
    color: white;
    height: 80dvh;
    width: auto;
}
.third-page-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.third-page-main img{
    width: 600px;
    height: auto;
}
.third-page-text h2{
    font-size: 2.5rem;
    font-weight: 900;
}
.third-page-text p{
    font-size: 2rem;
    font-weight: 500;
}
.fourth-page{
    background-color: black;
    color: white;
    height: 80dvh;
    width: auto;
}
.fourth-page-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.fourth-page-main img{
    width: 600px;
    height: auto;
}
.fourth-page-text h2{
    font-size: 2.5rem;
    font-weight: 900;
}
.fourth-page-text p{
    font-size: 2rem;
    font-weight: 500;
}
.fifth-page{
    background-color: black;
    color: white;
    height: 90dvh;
    width: auto;
}
.fifth-page-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.fifth-page-main img{
    width: 600px;
    height: auto;
}
.fifth-page-text h2{
    font-size: 2.5rem;
    font-weight: 900;
}
.fifth-page-text p{
    font-size: 2rem;
    font-weight: 500;
}
.faq{
    position: relative;
    margin: 10px 70px;
}
.faqheading{
    text-align: center;
    color: white;
    font-size: 45px;
}
.faq .faqinside{
    position: relative;
    align-items: center;
    background: #272829FF;
    width: 100%;
    text-align: left;
    color: white ;
    border: 0;
    box-sizing: content-box;
    cursor: pointer;
}
.faq .faqinside::before{
    content: url("./Src/plus.png");
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 10px;
}
.faq .slide{
    margin-top: 1px;
    /* padding: 1px; */

    position: relative;
    align-items: center;
    background: #272829;
    width: 100%;
    text-align: left;
    color: white ;
    border: 0;
    box-sizing: content-box;
    height: 0;
    padding-left: 12px;
    overflow: hidden;
    transition: height  0.5s;
    overflow-y:hidden;
}
.faqinside p{
    font-size: 20px;
    margin-left: 20px;
}
.faq .slide{
    color: white;
    font-size: 20px;

}
.faq .slide.active{
    height: 150px;
    padding: 6px;
}

.faq :hover{
    background-color: #414141;
    cursor: pointer;
}
.faq .slide :hover{
    background-color: #272829;
}
footer{
    background-color: black;
    color: white;
    height: 30dvh;
    width: auto;
    padding-top: 50px;
}
.footer-lists{
    display: flex;
    justify-content: space-around;
}
.footer-lists ul{
    list-style: none;
}
.footer-lists ul li{
    color: white;
}
.footer-lists ul li a{
    text-decoration: none;
    color: white;
}